*{
    
    box-sizing: border-box;
}


body{
    margin:5%;
    overflow: hidden;
    background-color: black;
    
}



.muro{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.muro div{
    
    width: 5vh;
    height: 5vh;
    color: black;
}

.bloco{
    background-color: blueviolet;
    background-size: cover;
    border-radius: 5px;
}

.movimento{
    background-color:black;
}

.inicio{
    background-color: transparent;
}

.final{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    border-radius: 100%;
}

#jogador{
    background-image: url(pacMan.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    
}

.spanVitoria{
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    left: 0;
    top: 0;
}
  
#container {
    text-align: center;
    width: 40vh;
    height: 40vh;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
}

#reset_button {
    text-align: center;
    width: 25vh;
    height: 10vh;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    background-color: rgb(240, 243, 59);
    border-radius: 10px 10px 10px 10px;
    border-style:outset;
}